In [1]:
# Import the package
import pandas as pd

In [2]:
 # Load the data   
old_df = pd.read_csv("Nike_UK_2022-09-01.csv")
old_df.head()

,DEPARTMENT,CATEGORY,SUBCATEGORY,SKU,SKU_VARIANT,PRODUCT_NAME,PRODUCT_ID,TITLE,PRODUCT_TYPE,PRODUCT_URL,...,COLOR,BRAND,AVAILABILITY,CURRENCY,PRICE_CURRENT,PRICE_RETAIL,RunDate,InsertUpdateTime,COLOR_CODE,TID
0,Kids,Accessories and Equipment,Hats,14024803,28003080,Nike Heritage86,12231348,Kids' Adjustable Hat,APPAREL,https://www.nike.com/gb/t/heritage86-adjustabl...,...,Light Menta/Barely Green,Nike Sportswear,IN_STOCK,GBP,16.95,16.95,2022-08-31 13:23:12,2022-09-01 04:13:01,AJ3651-369,1
1,Kids,Accessories and Equipment,Hats,12232054,21458460,Nike Heritage86,12231348,Kids' Adjustable Hat,APPAREL,https://www.nike.com/gb/t/heritage86-adjustabl...,...,White/Black,Nike Sportswear,IN_STOCK,GBP,16.95,16.95,2022-08-31 13:23:12,2022-09-01 04:13:01,AJ3651-100,2
2,Kids,Accessories and Equipment,Hats,12231348,21453989,Nike Heritage86,12231348,Kids' Adjustable Hat,APPAREL,https://www.nike.com/gb/t/heritage86-adjustabl...,...,Black/White,Nike Sportswear,IN_STOCK,GBP,16.95,16.95,2022-08-31 13:23:12,2022-09-01 04:13:01,AJ3651-010,3
3,Kids,Accessories and Equipment,Hats,13907994,27674553,Nike Heritage86,13907994,Kids' Adjustable Hat,APPAREL,https://www.nike.com/gb/t/heritage86-adjustabl...,...,University Blue/White,Nike Sportswear,IN_STOCK,GBP,12.95,12.95,2022-08-31 13:23:12,2022-09-01 04:13:05,AJ3651-413,4
4,Kids,Accessories and Equipment,Hats,13907995,27674554,Nike Heritage86,13907994,Kids' Adjustable Hat,APPAREL,https://www.nike.com/gb/t/heritage86-adjustabl...,...,Doll/Black,Nike Sportswear,SOLD_OUT,GBP,12.95,12.95,2022-08-31 13:23:12,2022-09-01 04:13:05,AJ3651-530,5

In [3]:
# Check the data types
old_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229471 entries, 0 to 229470
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DEPARTMENT        229471 non-null  object
 1   CATEGORY          229471 non-null  object
 2   SUBCATEGORY       229471 non-null  object
 3   SKU               229471 non-null  int64
 4   SKU_VARIANT       229471 non-null  int64
 5   PRODUCT_NAME      229471 non-null  object
 6   PRODUCT_ID        229471 non-null  int64
 7   TITLE             229471 non-null  object
 8   PRODUCT_TYPE      229471 non-null  object
 9   PRODUCT_URL       229471 non-null  object
 10  PRODUCT_SIZE      229466 non-null  object
 11  LABEL             229471 non-null  object
 12  IS_BESTSELLER     229471 non-null  bool
 13  COLOR             229471 non-null  object
 14  BRAND             229284 non-null  object
 15  AVAILABILITY      229471 non-null  object
 16  CURRENCY          229471 non-null  object
 17  PRICE_CURRENT     229471 non-null  float64
 18  PRICE_RETAIL      229471 non-null  float64
 19  RunDate           229471 non-null  object
 20  InsertUpdateTime  229471 non-null  object
 21  COLOR_CODE        229471 non-null  object
 22  TID               229471 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(16)
memory usage: 38.7+ MB

In [4]:
# Remove duplicates in the data
old_df.drop_duplicates(subset=['PRODUCT_NAME', 'PRODUCT_ID','IS_BESTSELLER'], inplace=  True)

In [5]:
# Remove around 70% of the products  with different product size
old_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8241 entries, 0 to 228995
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DEPARTMENT        8241 non-null   object
 1   CATEGORY          8241 non-null   object
 2   SUBCATEGORY       8241 non-null   object
 3   SKU               8241 non-null   int64
 4   SKU_VARIANT       8241 non-null   int64
 5   PRODUCT_NAME      8241 non-null   object
 6   PRODUCT_ID        8241 non-null   int64
 7   TITLE             8241 non-null   object
 8   PRODUCT_TYPE      8241 non-null   object
 9   PRODUCT_URL       8241 non-null   object
 10  PRODUCT_SIZE      8239 non-null   object
 11  LABEL             8241 non-null   object
 12  IS_BESTSELLER     8241 non-null   bool
 13  COLOR             8241 non-null   object
 14  BRAND             8235 non-null   object
 15  AVAILABILITY      8241 non-null   object
 16  CURRENCY          8241 non-null   object
 17  PRICE_CURRENT     8241 non-null   float64
 18  PRICE_RETAIL      8241 non-null   float64
 19  RunDate           8241 non-null   object
 20  InsertUpdateTime  8241 non-null   object
 21  COLOR_CODE        8241 non-null   object
 22  TID               8241 non-null   int64
dtypes: bool(1), float64(2), int64(4), object(16)
memory usage: 1.5+ MB

### Replace value in trasnaction file to PRODUCT_ID

We also need to merge the dataframe together with same key.
Therefore, we replace the ItemCode with Nike's product_id.

In [6]:
# Check the data types
import random

In [7]:
# Load the data with transaction data
df = pd.read_csv("transaction_data.csv")
df.head()

,UserId,TransactionId,TransactionTime,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,Country
0,278166,6355745,Sat Feb 02 12:50:00 IST 2019,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,United Kingdom
1,337701,6283376,Wed Dec 26 09:06:00 IST 2018,482370,LONDON BUS COFFEE MUG,3,3.52,United Kingdom
2,267099,6385599,Fri Feb 15 09:45:00 IST 2019,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,France
3,380478,6044973,Fri Jun 22 07:14:00 IST 2018,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,United Kingdom
4,-1,6143225,Mon Sep 10 11:58:00 IST 2018,1733592,WASHROOM METAL SIGN,3,3.40,United Kingdom

In [8]:
# Check the transaction_data size
df.shape

(1083818, 8)

In [10]:
# Replace the ItemCode with the PRODUCT_ID


random.seed(27)
tst = old_df['PRODUCT_ID'].unique()
random_value= random.choices(tst, k = len(df))

df['ItemCode']= random_value

## Create Randomness in Dataframe to increase the Analysis Values

Original data only contains 3, 6, 9, 12, and 15 these five values.
With Randomness, we can change the range from 3-15 to 1-12.

In [11]:
df["NumberOfItemsPurchased"] = df.apply(lambda row: random.randint(1, 12), axis=1)

## Replace User ID with Random Value
We create new customers from the Fake Customers generated from Other Source.
To make it more realistic, we replace the User ID with a random value.

In [12]:
# Keep the original data's not logged in users
not_one = df.query('UserId != -1')
one = df.query('UserId == -1')

In [13]:
# Original data only contains 4339 values
not_one['UserId'].nunique()

4372

In [14]:
# Replace the User ID with a random value between 100000 and 199999
not_one.loc[:,'UserId'] = df.apply(lambda row: random.randint(100000, 199999), axis=1)

C:\Windows\Temp\ipykernel_22924\1311674094.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_one.loc[:,'UserId'] = df.apply(lambda row: random.randint(100000, 199999), axis=1)

In [15]:
# merge the two dataframes togehter
result = pd.concat([not_one,one])

In [17]:
# Merge the dataset together
result = pd.merge(result, old_df, how='left', left_on='ItemCode', right_on='PRODUCT_ID')

In [20]:
# Remove redundant columns 
result.columns

Index(['UserId', 'TransactionId', 'TransactionTime', 'ItemCode',
       'ItemDescription', 'NumberOfItemsPurchased', 'CostPerItem', 'Country',
       'DEPARTMENT', 'CATEGORY', 'SUBCATEGORY', 'SKU', 'SKU_VARIANT',
       'PRODUCT_NAME', 'PRODUCT_ID', 'TITLE', 'PRODUCT_TYPE', 'PRODUCT_URL',
       'PRODUCT_SIZE', 'LABEL', 'IS_BESTSELLER', 'COLOR', 'BRAND',
       'AVAILABILITY', 'CURRENCY', 'PRICE_CURRENT', 'PRICE_RETAIL', 'RunDate',
       'InsertUpdateTime', 'COLOR_CODE', 'TID'],
      dtype='object')

In [23]:
result.drop(['CURRENCY','TID', 'PRODUCT_URL', 'CostPerItem', 'PRODUCT_SIZE','InsertUpdateTime', 'RunDate', 'PRICE_CURRENT'], axis = 1, inplace= True)

In [24]:
# Make a calculation field for the total revenue
result['revenue'] = result['PRICE_RETAIL'] * result['NumberOfItemsPurchased']

In [26]:
# Import the package
from sqlalchemy import create_engine, text
import mysql.connector

In [27]:
result

,UserId,TransactionId,TransactionTime,ItemCode,ItemDescription,NumberOfItemsPurchased,Country,DEPARTMENT,CATEGORY,SUBCATEGORY,...,TITLE,PRODUCT_TYPE,LABEL,IS_BESTSELLER,COLOR,BRAND,AVAILABILITY,PRICE_RETAIL,COLOR_CODE,revenue
0,146145,6355745,Sat Feb 02 12:50:00 IST 2019,13327096,FAMILY ALBUM WHITE PICTURE FRAME,5,United Kingdom,Men,Clothing,Kits and Jerseys,...,Men's Nike Dri-FIT Football Shirt,APPAREL,IN_STOCK,False,Black/Total Orange,NIKEiD,IN_STOCK,69.95,DB5899-011,349.75
1,133007,6283376,Wed Dec 26 09:06:00 IST 2018,13697847,LONDON BUS COFFEE MUG,9,United Kingdom,Men,Clothing,Trousers and Tights,...,Men's Tennis Trousers,APPAREL,IN_STOCK,False,White/White/White,Nike,IN_STOCK,59.95,DC0621-100,539.55
2,138276,6385599,Fri Feb 15 09:45:00 IST 2019,13891707,SET 12 COLOUR PENCILS DOLLY GIRL,8,France,Men,Shoes,Jordan,...,Men's Shoes,FOOTWEAR,JUST_IN,False,White/Citron Pulse/Atomic Green/Black,Jordan,IN_STOCK,74.95,DN4023-108,599.60
3,170956,6044973,Fri Jun 22 07:14:00 IST 2018,12725229,UNION JACK FLAG LUGGAGE TAG,1,United Kingdom,Kids,Shoes,Lifestyle,...,Older Kids' Boot,FOOTWEAR,IN_STOCK,False,Black/Black/Black,Nike,IN_STOCK,54.95,BQ5372-001,54.95
4,139624,6307136,Fri Jan 11 09:50:00 IST 2019,13358530,CUT GLASS T-LIGHT HOLDER OCTAGON,12,United Kingdom,Men,Clothing,Tops and T-Shirts,...,Men's Slim-Fit Polo,APPAREL,IN_STOCK,False,Obsidian/Mint Foam,Nike,IN_STOCK,59.95,DA4379-451,719.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090319,-1,6079524,Sun Jul 22 11:09:00 IST 2018,13953414,CHARLIE + LOLA BISCUITS TINS,12,United Kingdom,Women,Clothing,Swimwear,...,Women's High-Waisted Cheeky Bottoms,APPAREL,IN_STOCK,False,Black/White/White,Nike,IN_STOCK,44.95,DV2815-010,539.40
1090320,-1,6212338,Sun Nov 11 06:39:00 IST 2018,13723238,RED RETROSPOT BIG BOWL,11,United Kingdom,Kids,Shoes,Jordan,...,Cot Bootie,FOOTWEAR,IN_STOCK,False,Medium Grey/Multi-Colour/Multi-Colour,Jordan,IN_STOCK,44.95,CI6165-005,494.45
1090321,-1,6272057,Wed Dec 19 11:09:00 IST 2018,13458228,HANGING HEART WITH BELL,1,United Kingdom,Kids,Clothing,Tops and T-Shirts,...,Older Kids' (Boys') T-Shirt,APPAREL,IN_STOCK,False,College Navy,Nike,IN_STOCK,28.95,DJ1279-419,28.95
1090322,-1,6106650,Sun Aug 12 11:53:00 IST 2018,14079691,BLUE POLKADOT CUP,7,United Kingdom,Kids,Shoes,Football,...,Younger/Older Kids' Artificial-Grass Football ...,FOOTWEAR,IN_STOCK,False,Yellow Strike/Volt Ice/Coconut Milk/Sunset Glow,Nike,IN_STOCK,69.95,DJ5613-780,489.65
1090323,-1,6361817,Tue Feb 05 05:26:00 IST 2019,13816376,DOILY THANK YOU CARD,2,United Kingdom,Women,Clothing,Hoodies and Sweatshirts,...,Women's Graphic 1/2-Zip Pullover Top,APPAREL,IN_STOCK,False,Hazel Rush/Black/Summit White,NikeLab,IN_STOCK,119.95,DM4328-242,239.90

In [28]:
# Upload the Dataframe to MySQL Database
mysql_db = create_engine(f'mysql+mysqlconnector://xchenlmu_6060:CHENxi8952@159.65.72.135/xchenlmu_practice_database')
result.to_sql("Trans_Prod", con = mysql_db, if_exists = 'replace', index= False, chunksize = 50000)

-22